x-wallpaper {
  display: block;
  position: relative;
}[dir] x-wallpaper {
  margin: 1.5rem 0;
}
@media screen and (max-width: 540px) {
  [dir] x-wallpaper {
    margin: 1.5em -24px;
  }
}
x-wallpaper canvas {
  width: 100%;
  height: auto;
  background: #f5f5f6;
}
[dir] x-wallpaper canvas {
  border-radius: 6px;
}
x-wallpaper x-select.tabs {
  position: relative;
  z-index: 1;
}
x-wallpaper x-select.tabs .group {
  width: 36px;
}
[dir] x-wallpaper x-select.tabs .group {
  text-align: center;
  padding: 0;
}
@media screen and (max-width: 740px) {
  x-wallpaper x-select.tabs .group {
    width: 30px;
  }
}
@media screen and (max-width: 1020px) and (min-width: 840px) {
  x-wallpaper x-select.tabs .group {
    width: 30px;
  }
}
x-wallpaper .colours {
  display: block;
  position: absolute;
  bottom: -1px;
  background: rgba(245, 245, 246, 0.9);
}
[dir] x-wallpaper .colours {
  padding: 4px 0;
}
[dir=ltr] x-wallpaper .colours {
  right: -1px;
  border-top-left-radius: 12px;
}
[dir=rtl] x-wallpaper .colours {
  left: -1px;
  border-top-right-radius: 12px;
}
x-wallpaper .colour {
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0.4;
}
[dir] x-wallpaper .colour {
  border-radius: 30px;
  margin: 4px 8px;
  border: 2px solid #3a3645;
}
x-wallpaper .colour.active {
  width: 26px;
  height: 26px;
  opacity: 1;
}
[dir] x-wallpaper .colour.active {
  border-width: 4px;
}
x-wallpaper .colour:nth-child(1) {
  background: #cd0e66;
}
x-wallpaper .colour:nth-child(2) {
  background: #eb4726;
}
x-wallpaper .colour:nth-child(3) {
  background: #fd8c00;
}
x-wallpaper .colour:nth-child(4) {
  background: #bfc212;
}
x-wallpaper .colour:nth-child(5) {
  background: #22ab24;
}
x-wallpaper .colour:nth-child(6) {
  background: #009ea6;
}
x-wallpaper .colour:nth-child(7) {
  background: #0f82f2;
}
x-wallpaper .colour:nth-child(8) {
  background: #6d3bbf;
}
x-wallpaper .btn-row {
  position: absolute;
  bottom: 12px;
}
[dir=ltr] x-wallpaper .btn-row {
  left: 12px;
}
[dir=rtl] x-wallpaper .btn-row {
  right: 12px;
}
x-geopad .paths path.drag {
  cursor: move;
  pointer-events: none;
}
x-geopad x-img {
  position: absolute;
  z-index: -1;
}
.draw {
  cursor: pointer;
}
.draw.reflection[grid] .paths path {
  stroke: #cd0e66;
  stroke-width: 6px;
}
.reflection circle {
  display: none;
}
x-geopad .paths path.blue1 {
  fill: #258dab;
}
x-geopad .paths path.green1 {
  fill: #289782;
}
.focus x-geopad .paths path.blue1:not(.focus) {
  fill: #e0ebee;
}
.focus x-geopad .paths path.green1:not(.focus) {
  fill: #e1ecea;
}
.letters {
  flex-wrap: wrap;
  justify-content: center;
}
.letters .item {
  width: 56px;
  line-height: 56px;
  font-weight: 600;
  font-size: 40px;
  color: black;
}
[dir] .letters .item {
  text-align: center;
  margin: 4px;
}
[dir] .palindromes {
  margin: 2em 0;
}
[dir=ltr] .palindromes .check {
  margin: -3px 30px 0 -30px;
}
[dir=rtl] .palindromes .check {
  margin: -3px -30px 0 30px;
}
.palindromes input {
  display: inline-block;
  width: 180px;
}
[dir] .palindromes input {
  text-align: center;
  padding: 0.3em 0.6em !important;
}
.palindromes input.correct {
  pointer-events: none;
}
[dir] .palindromes input.correct {
  border-color: #22ab24;
}
.animation,
.symmetry {
  position: relative;
}
[dir] .animation, [dir] .symmetry {
  margin: 0 auto;
}
.animation {
  width: 200px;
}
.symmetry {
  width: 320px;
  overflow: hidden;
}
.symmetry img:nth-child(2) {
  position: absolute;
  top: 0;
  opacity: 0.5;
}
[dir=ltr] .symmetry img:nth-child(2) {
  left: 0;
}
[dir=rtl] .symmetry img:nth-child(2) {
  right: 0;
}
.sym-sum {
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7);
  display: inline-block;
  width: 54px;
  height: 54px;
  background: #c5c2cc;
  vertical-align: middle;
}
.sym-sum:active {
  transition: transform 0.2s;
}
[dir] .sym-sum:active {
  transform: scale(0.9);
}
.sym-sum img {
  display: block;
  transition: opacity 0.3s;
}
.sym-sum.pending {
  cursor: pointer;
}
.sym-sum.pending img {
  opacity: 0;
}
.cubes:before,
.cubes:after {
  display: table;
  content: " ";
}
[dir] .cubes:before, [dir] .cubes:after {
  clear: both;
}
.cubes .cube {
  display: block;
}
[dir] .cubes .cube {
  margin: 10px;
}
[dir=ltr] .cubes .cube {
  float: left;
}
[dir=rtl] .cubes .cube {
  float: right;
}
.calculator {
  background: #3a3645;
  max-width: 420px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
[dir] .calculator {
  padding: 8px;
  margin: 2em auto;
  border-radius: 6px;
}
.calculator:before,
.calculator:after {
  display: table;
  content: " ";
}
[dir] .calculator:before, [dir] .calculator:after {
  clear: both;
}
.calculator .display {
  background: #c5c2cc;
  height: 40px;
  position: relative;
}
[dir] .calculator .display {
  border-radius: 4px;
  padding: 8px;
  margin: 6px 6px 12px 6px;
}
.calculator .display img {
  width: 40px;
  height: 40px;
  position: absolute;
  display: none;
}
.calculator .operator {
  font-size: 24px;
  position: absolute;
  color: #3a3645;
  top: 10px;
}
[dir=ltr] .calculator .operator:first-child {
  left: 56px;
}
[dir=rtl] .calculator .operator:first-child {
  right: 56px;
}
[dir=ltr] .calculator .operator:nth-child(2) {
  left: 127px;
}
[dir=rtl] .calculator .operator:nth-child(2) {
  right: 127px;
}
.calculator .clear {
  width: 24px;
  height: 24px;
  background: rgba(58, 54, 69, 0.6);
  color: #c5c2cc;
  position: absolute;
  line-height: 24px;
  font-size: 24px;
  top: 16px;
  cursor: pointer;
  display: none;
  transition: background 0.2s;
}
[dir] .calculator .clear {
  border-radius: 12px;
  text-align: center;
}
[dir=ltr] .calculator .clear {
  right: 12px;
}
[dir=rtl] .calculator .clear {
  left: 12px;
}
.calculator .clear:hover {
  background: #3a3645;
}
.calculator .button {
  background: #5e5870;
  width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: background 0.1s, box-shadow 0.1s, transform 0.1s;
}
[dir] .calculator .button {
  border-radius: 4px;
  padding: 8px;
  margin: 6px;
  text-align: center;
  box-shadow: 0 3px 0 #181824;
}
[dir=ltr] .calculator .button {
  float: left;
}
[dir=rtl] .calculator .button {
  float: right;
}
.calculator .button:hover {
  background: #6a637e;
}
[dir] .calculator .button:active {
  box-shadow: none;
  transform: translateY(3px);
}
[dir] .calculator .button .cube {
  margin: 0 4px;
}
[dir] .axiom {
  margin: 1em 0;
}
[dir] .axiom .cube {
  margin: 2px 0;
}
.axiom .space {
  display: inline-block;
  width: 40px;
}
.axiom mn {
  background: #00b200;
  color: white;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
[dir] .axiom mn {
  border-radius: 15px;
  margin: 0 2px;
}
.footsteps {
  width: 600px;
  height: 120px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #f2994a, #f2c94c);
}
[dir] .footsteps {
  margin: 0 auto;
}
.footsteps img {
  max-width: none;
  opacity: 0.4;
  position: absolute;
  top: 0;
}
[dir=ltr] .footsteps img {
  left: -50px;
}
[dir=rtl] .footsteps img {
  right: -50px;
}
article.stars .page-background {
  background: #121b3c url('/resources/transformations/images/universe.jpg');
  background-size: cover;
}
[dir] article.stars .page-background {
  transform: translate3D(0, 0, 0);
  background-position: center;
}
.space {
  display: inline-block;
  width: 30px;
}
