x-dot-machine {
  display: block;
}[dir] x-dot-machine {
  margin: 1.5em 0;
}
x-dot-machine .dot-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
x-dot-machine .dot-cell {
  width: 100px;
  height: 100px;
  background: #c5e5e2;
  position: relative;
}
[dir] x-dot-machine .dot-cell {
  margin: 30px 2px 16px;
  border-radius: 4px;
}
x-dot-machine .dot-decimal,
x-dot-machine .dot-ellipses {
  font-size: 44px;
  color: #181824;
  line-height: 132px;
}
[dir] x-dot-machine .dot-decimal, [dir] x-dot-machine .dot-ellipses {
  text-align: center;
  padding: 0 12px;
}
x-dot-machine .dot-decimal:before {
  content: ".";
}
x-dot-machine .dot-ellipses:before {
  content: "…";
}
x-dot-machine .dot {
  width: 16px;
  height: 16px;
  background: #0f82f2;
  position: absolute;
  top: 0;
  transition: background 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}
[dir] x-dot-machine .dot {
  border-radius: 8px;
  margin: -8px;
}
[dir=ltr] x-dot-machine .dot {
  left: 0;
}
[dir=rtl] x-dot-machine .dot {
  right: 0;
}
x-dot-machine .dot.dark {
  background-color: #19978b;
}
x-dot-machine .dot.light {
  background-color: #6e48ac;
}
x-dot-machine .dot.glowing {
  background-color: #fd8c00;
}
[dir] x-dot-machine .dot.glowing {
  box-shadow: 0 0 0 4px rgba(253, 140, 0, 0.3);
}
x-dot-machine .dot.warning {
  background-color: #cd0e66;
}
[dir] x-dot-machine .dot.warning {
  box-shadow: 0 0 0 4px rgba(205, 14, 102, 0.3);
}
x-dot-machine .dot.anti {
  background-color: #c5e5e2;
}
[dir] x-dot-machine .dot.anti {
  border: 2px solid #0f82f2;
}
[dir] x-dot-machine .dot.anti.warning {
  border-color: #cd0e66;
}
[dir] x-dot-machine .dot.anti.glowing {
  border-color: #fd8c00;
}
x-dot-machine.tiny .dot {
  width: 12px;
  height: 12px;
}
x-dot-machine .cell-value,
x-dot-machine .cell-order {
  position: absolute;
  width: 100%;
  font-weight: bold;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
[dir] x-dot-machine .cell-value, [dir] x-dot-machine .cell-order {
  text-align: center;
}
x-dot-machine .cell-value {
  font-size: 24px;
  color: #0f82f2;
  top: -34px;
}
x-dot-machine .cell-order {
  font-size: 14px;
  color: #c5e5e2;
  bottom: -20px;
}
.race {
  position: relative;
}
[dir] .race {
  padding-bottom: 40px;
}
.race line {
  stroke-linecap: round;
  stroke: #fd8c00;
  stroke-width: 2;
}
.race text {
  font-size: 14px;
  text-anchor: middle;
}
.race img {
  position: absolute;
  top: 0;
  width: 10.5%;
  height: auto;
}
[dir=ltr] .race img {
  transition: left 0.5s;
}
[dir=rtl] .race img {
  transition: right 0.5s;
}
.race g {
  display: none;
}
.btn-row.done {
  pointer-events: none;
}
.btn-row.done button:not(.selected) {
  opacity: 0.2;
}
blockquote p {
  font-weight: 600;
  font-style: italic;
  color: #333;
}
[dir] blockquote p {
  text-align: center;
}
.convergence {
  max-width: 270px;
}
[dir] .convergence {
  margin: 1.5em auto;
}
[dir=ltr] .convergence {
  text-align: right;
}
[dir=rtl] .convergence {
  text-align: left;
}
.ivar {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  background: #22ab24;
  font-weight: 600;
  font-style: italic;
  color: white;
}
[dir] .ivar {
  text-align: center;
  border-radius: 0.7em;
  margin: 0 0.2em;
}
.s-yellow .ivar {
  background: #fd8c00;
}
svg.square polygon {
  stroke: white;
  stroke-width: 2px;
}
x-img img {
  width: 100%;
}
#zero-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#zero-list li {
  list-style: none;
  color: rgba(0, 0, 0, 0.8);
  max-width: 300px;
}
[dir] #zero-list li {
  padding: 12px 18px;
  border-radius: 6px;
  margin: 12px;
}
#zero-list li:nth-child(1) {
  background: #fae7f0;
}
#zero-list li:nth-child(2) {
  background: #e7f3fe;
}
#zero-list li:nth-child(3) {
  background: #e9f7e9;
}
#zero-list li:nth-child(4) {
  background: #fff4e6;
}
#flaw-2 table thead,
#flaw-3 table thead {
  display: none;
}
[dir] #flaw-2 table td, [dir] #flaw-3 table td {
  padding: 0.15em 0.25em;
}
[dir] #flaw-3 table tr:nth-child(2), [dir] #flaw-3 table tr:nth-child(6), [dir] #flaw-3 table tr:nth-child(7) {
  border-bottom: 1px solid #3a3645;
}
