x-buckets {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333;
}[dir] x-buckets {
  margin: 1.5em 0;
}
x-buckets .inputs,
x-buckets .bucket {
  position: relative;
}
x-buckets .inputs > *,
x-buckets .bucket > * {
  position: absolute;
}
x-buckets .inputs {
  z-index: 1;
}
x-buckets .buckets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
[dir] x-buckets .buckets {
  margin: 0 -8px;
}
x-buckets .input {
  cursor: move;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  width: 180px;
  font-size: 16px;
  line-height: 1.35;
}
[dir] x-buckets .input {
  padding: 5px 12px;
  margin: 6px 0;
  border-radius: 4px;
  text-align: center;
}
[dir=ltr] x-buckets .input {
  transition: left 0.2s, top 0.2s, box-shadow 0.2s, background 0.2s, color 0.2s;
}
[dir=rtl] x-buckets .input {
  transition: right 0.2s, top 0.2s, box-shadow 0.2s, background 0.2s, color 0.2s;
}
x-buckets .inputs .input {
  background: #c5c2cc;
}
x-buckets .input.error {
  background: #e9b0cb;
  color: #cd0e66;
}
x-buckets .input.active {
  z-index: 1;
  background: white;
  color: inherit;
}
[dir] x-buckets .input.active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.45);
}
x-buckets .bucket {
  width: 200px;
  position: relative;
  background: #3a3645;
  transition: box-shadow 0.2s;
}
[dir] x-buckets .bucket {
  border-radius: 8px;
  margin: 6px;
  padding-bottom: 6px;
}
x-buckets .bucket .title {
  font-weight: 600;
  color: white;
}
[dir] x-buckets .bucket .title {
  text-align: center;
  margin-top: 8px;
}
[dir] x-buckets .bucket.active {
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.4);
}
x-coin-flip {
  display: block;
}
x-buckets.likelihoods .input {
  width: 160px;
}
x-buckets.likelihoods .bucket {
  width: 180px;
}
x-buckets.likelihoods .bucket:nth-child(1) {
  background: #ed6145;
}
x-buckets.likelihoods .bucket:nth-child(2) {
  background: #8157c7;
}
x-buckets.likelihoods .bucket:nth-child(3) {
  background: #3293f3;
}
x-buckets.likelihoods .bucket:nth-child(4) {
  background: #25abb2;
}
