x-automaton {
  display: block;
}
x-automaton .cellular-rules {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
x-automaton .cellular-rules > svg {
  cursor: pointer;
  transition: transform 0.2s;
}
[dir] x-automaton .cellular-rules > svg {
  margin: 5px;
}
[dir] x-automaton .cellular-rules > svg:hover {
  transform: scale(1.2);
}
x-automaton .cellular-grid {
  cursor: crosshair;
}
[dir] x-automaton .cellular-grid {
  margin: 0 auto;
}
x-automaton .cellular-rules rect,
x-automaton .cellular-grid rect {
  stroke: #dddbe1;
  fill: white;
}
x-automaton .cellular-rules rect.fill,
x-automaton .cellular-grid rect.fill {
  fill: #3a3645;
  stroke: #504b5c;
}
x-automaton .cellular-rules rect.red,
x-automaton .cellular-grid rect.red {
  stroke: #cd0e66;
  stroke-width: 2px;
  stroke-linejoin: round;
}
x-automaton .highlight {
  fill: none;
  stroke: #fd8c00;
  stroke-width: 5px;
  opacity: 0.85;
  display: none;
}
x-automaton svg.focus .highlight {
  display: block;
}
[dir] .chaos-game {
  margin: 1.5rem 0;
}
@media screen and (max-width: 540px) {
  [dir] .chaos-game {
    margin: 1.5em -24px;
  }
}
.chaos-game x-select.tabs {
  position: relative;
  z-index: 1;
}
[dir] .chaos-game x-geopad {
  border-radius: 4px 4px 0 0;
}
.chaos-game .chaos-rules {
  background: #c5c2cc;
  display: flex;
  flex-wrap: wrap;
}
[dir] .chaos-game .chaos-rules {
  padding: 8px;
  border-radius: 0 0 4px 4px;
}
[dir] .chaos-game .chaos-rules .form-field, [dir] .chaos-game .chaos-rules .button-field {
  padding: 8px;
}
.chaos-game .chaos-rules .form-field {
  flex-grow: 1;
}
.chaos-game .chaos-rules .btn {
  display: block;
  height: 49px;
  line-height: 49px;
}
.fractal-overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
}
[dir=ltr] .fractal-overlay {
  left: 0;
}
[dir=rtl] .fractal-overlay {
  right: 0;
}
x-step.focus .fractal-overlay {
  opacity: 0.85;
}
svg.var .red {
  fill: #cd0e66;
}
svg.var .blue {
  fill: #0f82f2;
}
svg.var .white {
  fill: white;
}
svg.var .overlay {
  fill: white;
  opacity: 0;
  transition: opacity 0.2s;
}
svg.var .overlay.focus {
  opacity: 0.9;
}
.sierpinski {
  overflow: visible;
}
.sierpinski g {
  transition: transform 0.3s, fill 0.3s;
}
.focus .sierpinski .t1 {
  fill: #0f82f2;
}
[dir=ltr] .focus .sierpinski .t1 {
  transform: translate(10px, 5px);
}
[dir=rtl] .focus .sierpinski .t1 {
  transform: translate(-10px, 5px);
}
.focus .sierpinski .t2 {
  fill: #22ab24;
}
[dir=ltr] .focus .sierpinski .t2 {
  transform: translate(-10px, 5px);
}
[dir=rtl] .focus .sierpinski .t2 {
  transform: translate(10px, 5px);
}
.focus .sierpinski .t3 {
  fill: #fd8c00;
}
[dir] .focus .sierpinski .t3 {
  transform: translate(0, -10px);
}
x-menger-sponge {
  display: block;
}
x-menger-sponge canvas {
  width: 100%;
  height: auto;
}
.coastline path {
  fill: #656073;
}
.coastline line {
  stroke: #fd8c00;
  stroke-width: 6px;
  stroke-linecap: square;
}
.coastline line.border {
  stroke: #933f36;
  stroke-width: 10px;
}
#coastline-grid .grid,
#coastline-grid .cells {
  transition: opacity 0.8s;
}
#coastline-grid .coast {
  vector-effect: non-scaling-stroke;
}
.pascal-grid {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pascal-grid .r {
  display: flex;
  justify-content: center;
}
.pascal-grid .c {
  cursor: pointer;
  width: 36px;
  font-size: 13px;
  background: #ddd;
  position: relative;
  line-height: 20px;
  transition: color 0.4s, background 0.4s;
}
[dir] .pascal-grid .c {
  margin: 1px;
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.3);
  padding-bottom: 1px;
}
.pascal-grid .c.red {
  color: white;
  background: #cd0e66;
  cursor: default;
}
.pascal-grid.done .c {
  cursor: default;
}
.pascal-canvas {
  position: relative;
  shape-outside: polygon(0 0, 240px 0, 480px 420px, 0 420px);
  shape-margin: 32px;
}
[dir=ltr] .pascal-canvas {
  float: left;
  margin: 0 32px 1.5em 0;
}
[dir=rtl] .pascal-canvas {
  float: right;
  margin: 0 0 1.5em 32px;
}
.pascal-canvas canvas {
  width: 480px;
  max-width: 100%;
  height: auto;
}
.pascal-canvas .label {
  position: absolute;
  top: 32px;
  font-weight: 600;
  color: #333;
}
[dir=ltr] .pascal-canvas .label {
  left: 24px;
}
[dir=rtl] .pascal-canvas .label {
  right: 24px;
}
.pascal-canvas .circled {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
@media screen and (max-width: 1007px) and (min-width: 841px) {
  .pascal-canvas {
    max-width: 480px;
    shape-outside: none;
  }
  [dir] .pascal-canvas {
    float: none;
    margin: 0 auto 1.5em;
  }
}
@media screen and (max-width: 727px) {
  .pascal-canvas {
    max-width: 480px;
    shape-outside: none;
  }
  [dir] .pascal-canvas {
    float: none;
    margin: 0 auto 1.5em;
  }
}
@media screen and (max-width: 460px) {
  .pascal-canvas .label {
    top: 12px;
  }
  [dir=ltr] .pascal-canvas .label {
    left: 0;
  }
  [dir=rtl] .pascal-canvas .label {
    right: 0;
  }
}
x-geopad .points circle.chaos-point {
  stroke: none;
  fill: currentColor;
}
.geo-legend {
  position: absolute;
  top: 4px;
  font-size: 14px;
}
[dir=ltr] .geo-legend {
  left: 4px;
}
[dir=rtl] .geo-legend {
  right: 4px;
}
.geo-legend .formula,
.geo-legend .sequence {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #e2e1e6;
}
[dir] .geo-legend .formula, [dir] .geo-legend .sequence {
  border: 2px solid white;
  padding: 2px 4px;
  border-radius: 8px;
}
[dir] .geo-legend .formula {
  margin-top: -2px;
}
[dir=ltr] .geo-legend .formula {
  border-bottom-left-radius: 0;
}
[dir=rtl] .geo-legend .formula {
  border-bottom-right-radius: 0;
}
[dir] .geo-legend .sequence {
  margin-top: -2px;
}
[dir=ltr] .geo-legend .sequence {
  border-top-left-radius: 0;
}
[dir=rtl] .geo-legend .sequence {
  border-top-right-radius: 0;
}
[dir] .geo-legend .pill {
  padding: 0 8px;
}
.geo-legend .vdots {
  display: inline-block;
}
[dir=ltr] .geo-legend .vdots {
  transform: rotate(90deg);
  margin-left: 13px;
  margin-right: 24px;
}
[dir=rtl] .geo-legend .vdots {
  transform: rotate(-90deg);
  margin-right: 13px;
  margin-left: 24px;
}
@media screen and (max-width: 940px) and (min-width: 841px), screen and (max-width: 660px) {
  .geo-legend {
    font-size: 12px;
  }
  [dir] .geo-legend .pill {
    padding: 0 7px;
  }
  [dir] .geo-legend .formula, [dir] .geo-legend .sequence {
    padding: 2px 3px;
  }
}
@media screen and (max-width: 560px) {
  .geo-legend {
    font-size: 10px;
  }
  [dir] .geo-legend .pill {
    padding: 0 6px;
  }
  [dir] .geo-legend .formula, [dir] .geo-legend .sequence {
    padding: 1px 2px;
  }
}
@media screen and (max-width: 400px) {
  .geo-legend {
    display: none;
  }
}
.mandel-frame {
  position: relative;
  overflow: hidden;
}
[dir] .mandel-frame {
  border-radius: 6px;
  padding-bottom: 65.79%;
}
.mandel-frame img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
[dir=ltr] .mandel-frame img {
  left: 0;
}
[dir=rtl] .mandel-frame img {
  right: 0;
}
.mandel-frame .scale {
  position: absolute;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 24px;
  font-size: 16px;
}
[dir] .mandel-frame .scale {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0 14px;
}
[dir=ltr] .mandel-frame .scale {
  left: 50%;
  transform: translateX(-50%);
}
[dir=rtl] .mandel-frame .scale {
  right: 50%;
  transform: translateX(50%);
}
x-geopad img {
  transition: opacity 0.2s;
}
.focus x-geopad img {
  opacity: 0.2;
}
