x-solid {
  display: block;
  position: relative;
}[dir] x-solid {
  margin: 0 auto;
}
x-solid canvas {
  max-width: 100%;
  height: auto;
}
x-solid .label3d {
  position: absolute;
  line-height: 1.2;
  font-style: italic;
  pointer-events: none;
}
x-anibutton {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
x-anibutton span {
  display: inline-block;
}
x-anibutton svg {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50%;
  pointer-events: none;
  fill: none;
  stroke: currentColor;
  display: block;
  max-width: none;
}
[dir] x-anibutton svg {
  margin: -80px;
}
[dir=ltr] x-anibutton svg {
  left: 50%;
}
[dir=rtl] x-anibutton svg {
  right: 50%;
}
.quadrilateral {
  width: 210px !important;
  position: relative;
  background: #f5f5f6;
  overflow: hidden;
}
[dir] .quadrilateral {
  margin: 12px !important;
  padding: 14px;
  border-radius: 6px;
}
.quadrilateral x-geopad,
.quadrilateral x-geopad svg {
  overflow: visible;
}
.task {
  color: #0f82f2;
  font-weight: 600;
}
[dir] .task {
  border-bottom: 2px solid #0f82f2;
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
}
#escher {
  overflow: hidden;
}
.metamorph img {
  max-width: none;
  cursor: ew-resize;
}
.tessellation {
  position: relative;
  display: flex;
  background: #f5f5f6;
}
[dir=ltr] .tessellation {
  border-radius: 4px 0 0 4px;
}
[dir=rtl] .tessellation {
  border-radius: 0 4px 4px 0;
}
.tessellation x-polypad {
  height: 450px;
  flex-grow: 1;
}
.tessellation svg.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 6;
}
[dir=ltr] .tessellation svg.overlay {
  left: 0;
}
[dir=rtl] .tessellation svg.overlay {
  right: 0;
}
.tessellation .menu {
  background: #3a3645;
}
[dir] .tessellation .menu {
  padding: 2px 0;
}
[dir=ltr] .tessellation .menu {
  border-radius: 0 4px 4px 0;
}
[dir=rtl] .tessellation .menu {
  border-radius: 4px 0 0 4px;
}
.tessellation .add {
  width: 48px;
  height: 48px;
  cursor: -webkit-grab;
  cursor: grab;
}
[dir] .tessellation .add {
  padding: 0 2px;
}
.tessellation .overlap .polygon-tile {
  fill: #ff5354 !important;
}
.tessellation .btn-row {
  position: absolute;
  bottom: 12px;
}
[dir=ltr] .tessellation .btn-row {
  left: 12px;
}
[dir=rtl] .tessellation .btn-row {
  right: 12px;
}
[dir] .plato {
  margin: 0 -12px 1.5em !important;
}
[dir] .plato p:first-child, [dir] .plato x-polyhedron {
  margin-bottom: 0.5em;
}
#platonic-overview .dual {
  transition: opacity 0.3s;
}
#platonic-overview.focus .dual:not(.focus) {
  opacity: 0.1;
}
.qed {
  display: block;
  width: 8px;
  height: 8px;
}
[dir] .qed {
  border: 1px solid currentColor;
  margin-top: 8px;
}
[dir=ltr] .qed {
  float: right;
}
[dir=rtl] .qed {
  float: left;
}
x-geopad[grid] .points circle.move {
  display: none;
}
